@import url("normalize.css/normalize.css");

@import url("font-family.css");

html {
  font-size: 16px;
  overscroll-behavior: contain;
}

body {
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
